:root {
  // Primary
  --blue: hsl(249, 99%, 64%);
  --violet: hsl(278, 94%, 30%); //(active input border)
  --red: hsl(0, 100%, 66%); //(input errors)

  // Neutral
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);

  //added
  --shadow-dark-violet: hsla(278, 68%, 11%, 0.4);
  --static-light-grayish-violet: hsl(270, 3%, 87%);
  --mod-very-dark-violet: hsl(278, 68%, 11%);
  --mod-violet: hsl(278, 94%, 30%);
  --black: black;
}

$bp-largest: 1400px;
$bp-large-x: 1200px;
$bp-large: 1000px;
$bp-medium: 650px;
$bp-small: 340px;

::selection {
  background-color: var(--violet);
  color: var(--white);
}

html {
  font-size: 18px;

  @media screen and (max-width: $bp-small) {
    font-size: 95%;
  }
}

body {
  font-family: "Space Grotesk", sans-serif;

  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 4fr;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh; //incase dvh is not supported
  min-height: 100dvh;

  @media screen and (min-width: $bp-large) {
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    align-items: center;
  }
}

.footer {
  margin-top: auto;
}
