.card-section {
  background-image: url(../images/bg-main-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1rem 3rem;
  margin-bottom: 3rem;
  position: relative;
  --card-max-width: 15rem;

  .card-top-container {
    position: relative;
    max-width: var(--card-max-width);

    .card-back-container {
      .card-back {
        position: relative;
        transform: translateX(1.5rem);

        .cvc-number {
          position: absolute;
          top: 50%;
          right: 12%;
          transform: translateY(-50%);
          font-size: 0.7rem;
          color: var(--light-grayish-violet);
        }
      }
    }

    .card-front-container {
      position: absolute;
      top: 0;
      left: 0;
      max-width: var(--card-max-width);
    }

    .card-front {
      position: relative;
      width: 100%;
      transform: translateY(calc(var(--card-max-width) / 3.25))
        translateX(-1.5rem);
      box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);

      .card-bg-front-img {
        width: 100%;
      }

      .card-logo {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: 20%;
      }

      .card-info {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 1rem;
        color: var(--light-grayish-violet);
        width: 100%;

        &__card-number {
          font-size: 0.8em;
          text-align: center;
          margin-bottom: 0.5rem;
        }

        .bottom-info {
          display: flex;
          justify-content: space-between;

          &__name {
            font-size: 0.5rem;
            text-transform: uppercase;
          }

          &__date {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
